
.home {
    box-sizing: border-box;
    .carousel {
        position: relative;
        width: 100%;
        height: 300px;
        overflow: hidden;
        background: linear-gradient(to right, rgb(248, 248, 245), rgb(248, 248, 216));
        user-select: none;

        .carousel-items {
           text-wrap: nowrap;
            height: 100%;
            overflow: hidden;
            
            .carousel-item {
                display: inline-block;
                height: 100%;
                overflow: hidden;
                padding: 10px;
    
                .carousel-item-content {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    img {
                        height: 90%;
                    }
                }
            }
        }
    }
}