

#contacts {

    position: fixed;
    z-index: 89;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: linear-gradient(to right, rgb(14, 1, 70), rgb(4, 2, 131));
    transition:cubic-bezier(0.075, 0.82, 0.165, 1); 
    transition-duration: 1000ms;
    padding: 80px 10px;


    #contacts-list {
        margin-top: 80px;

        .contact-item {
            display: flex;
            align-items: center;
            margin: 20px;
            a {
                display: flex;
                align-items: center;
                margin-left: 10px;
                font-size: 1.1rem;
                color: rgb(240, 232, 234);

                .contact-logo {
                    height: 50px;
                    width: 50px;
                    object-fit: cover;
                    border-radius: 50%; 
                }
                span {
                    margin-left: 10px;

                }
            }
        }
        @media screen and (min-width:772px) {
           
            & {
                display: grid;
                grid-template-columns: auto auto;
                gap: 10px;
            }
            
        }
    }

    .footer {
        position: absolute;
        bottom: 0;
        color: azure;
        font-size: 0.8rem;
        background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.13));
        left: 0;
        right: 0;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        box-shadow: 0px -1px 10px rgba(255, 255, 255, 0.342);
        span {
            padding: 0px 5px;
        }
       div {
        display: flex;
        align-items: center;
       
        
        a {
            display: flex;
            align-items: center;
            color: rgb(213, 248, 197);
            margin: 0px 5px;
            &:active {
                color: white;
            }
            svg {
                margin-right: 3px;
            }
            span {
                padding: 0;
                font-size: 0.8rem;
            }


        }
        span {
            padding: 0px, 3px;
        }
       }
    }

}


.contacts-show {
    
    top: 0%;

}

.contacts-hide {
    top: 100%;

}