{% extends 'master.html' %}

{% block title %}
My First Site
 {% endblock %}




 {% block main %}
 <div class ="home">
  <div class="load-cover">
   
  </div>



  <div id="carousel" class="carousel" oncontextmenu="return false">
    <div class="carousel-items">
      {% for i in slider %}
      <div class="carousel-item">
        <div class="carousel-item-content">
          <img src="/media/{{ i.slide}}"  alt="">
        </div>
      </div>
      {% endfor %}
  
    </div>
    <div class="cover"></div>
  </div>
 <section id="projects-section">
  <div class ="container">
    <h1>main content</h1>
      <ul class="projects">
         {% for x in projects %}
           <li class="project">
            <p> {{ x.project_name }} {{ x.project_text }}</p>
            <img src="media/{{x.project_image }}" width=200 height=200 alt="">
           
            
          </li>
         {% endfor %}
       </ul>
       
       <button  id ='clickme'>click me</button>
   </div>
 </section>
 </div>


 
    {% endblock %}

   