
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    
 <link rel="stylesheet" href="{% static 'index.css' %}">
 <link rel="stylesheet" href="{% static 'styles/css/app.css' %}">
    {% block link %}
     {% endblock%}
</head>
<body>
 
    {% block header%}

   

    <header>
   
       <div class="header">
   
         <div class="logo">
           <img src="/media/{{logo.logo}}" alt="" >
           <p>{{logo.logo_title}}</p>
         </div>
   
         <div id="back-to-top" class="back-to-top-hide">
           &#129085;
         </div>
   
   
   
         <div id="contacts-icon" class="contacts-icon-open">
           &#9742;
             </div>
        
        
             <div id="analog">
                 <div id="center"></div>
                 <div id="hour">
                     <div></div>
                     <div></div>
                 </div>
                 <div id="minute">
                     <div></div>
                     <div></div>
                 </div>
                 <div id="second">
                     <div></div>
                     <div></div>
                 </div>
             </div>
         </header>
       </div>
   
   
    {% endblock%}
   
   
    {% block contacts %}
    
    <div id="contacts" class="contacts-hide">
    <div id="contacts-list">
       {% for item in contact %}
       <div class="contact-item">
          
         <a href="{{item.contact_link}}"> 
           <img class="contact-logo" src="/media/{{ item.contact_logo}}"   alt="">
           <span>{{item.contact_title}}</span>
         </a>
       </div>
       {% endfor %}
    </div>
   
   </div>
     {% endblock%}



   

    {% block main %}
    {% endblock %}
    <p>I will display &#129032;</p>
    <p>I will display &#x1F808;</p>
    <p>I will display &#129092;</p>
<p>I will display &#x1F844;</p>
<p>I will display &#8801;</p>
<p>I will display &#x2261;</p>
<p>I will display &equiv;</p>
<p>I will display &#10008;</p>
<p>I will display &#x2718;</p>
    {% block footer %}
    &copy;
    {% endblock %}
    

    
 
 <script type="module" src="{% static 'scripts/main.js' %}"></script>
</body>
</html>